@charset "utf-8";
html{height:100%;}
body{
	background:#090b44; /* Old browsers */
	background:-moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%); /* FF3.6+ */
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#090b44), color-stop(100%,#00001c)); /* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Opera 12+ */
	background:-ms-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* IE10+ */
	background:radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#090b44', endColorstr='#00001c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:0;
	text-align:center;
	font-family:'open sans';
	position:relative;
	margin:0;
	height:100%;
	padding-bottom:50px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
a{text-decoration:none;}
canvas{display:block;width:100%;height:100%;top:0;left:0;position:fixed;}
canvas.flare{opacity:0.5;}